<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IActionService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5861/ActionService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IActionService"
                contract="ServiceReference1.IActionService" name="MetadataExchangeHttpBinding_IActionService" />
        </client>
    </system.serviceModel>
</configuration>