body {
}

#admin_container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

    #admin_container #menu_col {
        max-width: 400px;
        float: left;
    }

    #admin_container #content_col {
        min-width: 600px;
        float: left;
    }

.full-width {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
/* 2 col */
.left-col {
    max-width: 400px;
    float: left;
}

.right-col {
    min-width: 600px;
    float: left;
}
