<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=LAMINH-THINK\SQLEXPRESS;Database=LaminhCMS;User Id=sa;Password=minhtaydoc" />
    <add name="LaminhCMSEntities" connectionString="metadata=res://*/EntityFramework.Model.CMSDatacontext.csdl|res://*/EntityFramework.Model.CMSDatacontext.ssdl|res://*/EntityFramework.Model.CMSDatacontext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAMINH-THINK\SQLEXPRESS;initial catalog=LaminhCMS;user id=sa;password=minhtaydoc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <!--<service name="ServiceWcfSefthost.ActionService" behaviorConfiguration="ServiceBehaviour">
        <endpoint contract="ServiceWcfSefthost.IActionService" binding="mexHttpBinding" address="mex" />
        <endpoint address="" binding="webHttpBinding" contract="ServiceWcfSefthost.IActionService" behaviorConfiguration="web" ></endpoint>
        --><!--<endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" contract="ServiceWcfSefthost.IActionService"/>--><!--
      </service>-->
      <service name="Service.ActionService" behaviorConfiguration="ServiceBehaviour">
        <endpoint contract="Service.IActionService" binding="mexHttpBinding" address="mex" />
        <endpoint address="" binding="webHttpBinding" contract="Service.IActionService" behaviorConfiguration="web" ></endpoint>
        <!--<endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" contract="ServiceWcfSefthost.IActionService"/>-->
      </service>
    </services>
    <bindings />
    <client />
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
