<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiceWcfSefthost.ActionService" behaviorConfiguration="ServiceBehaviour">
        <endpoint contract="ServiceWcfSefthost.IActionService" binding="mexHttpBinding" address="mex" />
        <endpoint address="" binding="webHttpBinding" contract="ServiceWcfSefthost.IActionService" behaviorConfiguration="web" ></endpoint>
        <!--<endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" contract="ServiceWcfSefthost.IActionService"/>-->
      </service>
    </services>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors >
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
